# TITLE : "Data Science Tools and Ecosystem"

 INTRO : "In this notebook, Data Science Tools and Ecosystem are summarized."
**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- arithematic examples

 Some of the popular languages that Data Scientists use are:
1. python
2. julia
3. R
4. scala

 Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit-learn
4. matplotlib

| Data Science Tools |
|-----|
|apache spark |
|apache hive |
|hadoop | 
|jupyter lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
MOHAMMAD RIZWAN